:root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("https://images.pexels.com/photos/3184192/pexels-photo-3184192.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
